<ion-view view-title="Chats">
  <ion-content>

    <ion-step>
      <div ng-repeat='expander in expanders'>
        <ion-step-item-header title='expander.title' username='expander.username' tag='expander.tag' time='expander.time' state='expander.state'
          finished='expander.finished' icons='expander.icons'>
        </ion-step-item-header>
        <ion-step-item class='expander' expander-title='expander.title' show-me='expander.showMe'>
          <div ng-include src="buildUrl(expander.title)"></div>
        </ion-step-item>
      </div>
    </ion-step>

  </ion-content>
</ion-view>