<div class="sign-in-block">
    <!-- 扫码 -->
    <div ng-if="false" class="sign-in-block-outcircle">
        <div class="sign-in-block-midcircle">
            <img ng-src="img/17078.svg">
        </div>
    </div>

    <!-- 戳一戳 -->
    <div class="sign-in-block-outcircle">
        <div class="sign-in-block-midcircle">
            <img ng-src="img/17077.svg">
        </div>
    </div>

    <div class="sign-in-block-tips">戳一戳，签到哦！</div>
    <div ng-if="false" class="sign-in-block-tips">扫一扫，告诉我您所在的位置哦！</div>
</div>